#!/usr/bin/env bash

# copy this file to conf/install
# and edit to add your own environment vars
# then run this once to setup heroku environment vars
# these only need to be set once per app

heroku config:set MONGOVIZ_DEV_MONGO_URI=mongodb://xxx
heroku config:set MONGOVIZ_STAG_MONGO_URI=mongodb://xxx
heroku config:set MONGOVIZ_PROD_MONGO_URI=mongodb://xxx
heroku config:set MONGOVIZ_API_KEY=xxx
heroku config:set MONGOVIZ_HOST=127.0.0.1
heroku config:set MONGOVIZ_PORT=5005
